.Container {
  @apply flex flex-col justify-start items-stretch;
}

.Header {
  @apply flex flex-col justify-center items-center;
  @apply p-4;
  @apply border-0 border-b-2 border-gray-300;
}

.Wallet {
  @apply text-lg font-bold;
}

.PublicKeyRow {
  @apply flex flex-row items-center gap-2;
}

.PublicKey {
  @apply text-xs;
}

.ExportButton {
  @apply bg-yellow-500 text-white py-1 px-2 rounded-md;
  @apply cursor-pointer hover:opacity-75;
}

.ContentCopyIcon {
  transform: scale(0.8);
  @apply cursor-pointer;
}

.Balance {
  @apply self-center;
  @apply pt-6 pb-6;
  @apply text-3xl font-bold;
}

.ActionRow {
  @apply flex flex-row gap-8 self-center;
}

.ActionButton {
  min-width: 150px;
  @apply text-center;
  @apply pt-2 pb-2;
  @apply border-2 border-gray-300 rounded-lg;
  @apply cursor-pointer hover:opacity-75;
}

.Separator {
  @apply h-0.5;
  @apply bg-gray-100 mt-8;
}

.BottomRow {
  @apply p-4 mt-auto;
  @apply border-0 border-t-2 border-gray-100;
  @apply flex flex-row items-center;
}

.Network {
  @apply text-gray-400;
}

.SignOutButton {
  @apply ml-auto pt-1 pb-1 pl-4 pr-4;
  @apply bg-red-500 text-white font-bold;
  @apply rounded-md cursor-pointer hover:opacity-75;
}

.SendSolanaContainer {
  @apply flex flex-col p-4 gap-4;
}

.SendSolanaRow {
  @apply flex flex-row gap-4;
}

.SendSolanaInput {
  @apply w-64;
  @apply bg-gray-100 pl-2 pr-2;
  @apply border-2 border-gray-200 rounded-md;
  @apply focus:border-yellow-500;
  &:focus {
    outline: none;
  }
}

.ConfirmSendSolanaButton {
  @apply bg-yellow-500 text-white text-center font-bold;
  @apply rounded-md shadow-lg py-1 mt-4;
  @apply cursor-pointer hover:opacity-75;
}